


.reveal h1 {
    font-size: 50px !important;
    color: #4AA4DE;
  }

  .reveal h2 {
    color: #4AA4DE; /* Cambia este valor al color que desees */
  }

/* Reducir el tamaño de la letra en las tablas */
table {
  font-size: 0.4em; /* Ajusta este valor según tus necesidades */
}

strong {
  color: #4AA4DE;
}

#intro {
  font-size: 0.9em; /* Ajusta el tamaño según tu preferencia */
}

#research_context {
  font-size: 1.0em; /* Ajusta el tamaño según tu preferencia */
}

#research_context p {
  font-size: 0.7em; /* Tamaño del cuerpo del texto */
}


#google_trends_intro_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 10px;
}

.title-slide,
.title-slide h1,
.title-slide h2,
.title-slide h3,
.title-slide p,
.title-slide .author {
    color: white !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Mejora la legibilidad en fondos claros */
}


#literature_review {
  font-size: 1.0em; /* Tamaño del título */
}


#literature_review p {
  font-size: 0.6em; /* Tamaño del cuerpo del texto */
}

#literature_review table {
  font-size: 0.45em; /* Tamaño del texto en la tabla */
}

#data_sources li {
  font-size: 0.8em; /* Tamaño del cuerpo del texto */
}

#data_limitations li {
  font-size: 0.6em; /* Tamaño del cuerpo del texto */
}

#data_limitations h3 {
  color: #4AA4DE;
  font-size: 1.0em;
}

#pca h2 {
  font-size: 50px !important;
}

#pca li {
  font-size: 0.8em; /* Tamaño del cuerpo del texto */
}

#estimation_strategy li {
  font-size: 0.9em;
}

#data_model {
  font-size: 0.7em;
}

#modeling_eda {
  font-size: 0.8em; /* Tamaño del cuerpo del texto */
}

#assessment {
  font-size: 1.2em; /* Tamaño del cuerpo del texto */
}


#results_pca {
  font-size: 0.7em; /* Tamaño del cuerpo del texto */
}

#results_female h2 {
  font-size: 1.1em; /* Tamaño del cuerpo del texto */
}

#results_female {
  font-size: 1.2em; /* Tamaño del cuerpo del texto */
}

#results_male h2 {
  font-size: 1.1em; /* Tamaño del cuerpo del texto */
}

#results_male {
  font-size: 1.2em; /* Tamaño del cuerpo del texto */
}

#references {
  font-size: 0.7em;
}